*{
    margin:0;
    padding: 0;
}

h1{
    text-align: center;
}

.loghi{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

#choice img{
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]{
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#todo{
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

